@media (max-width: 992px) {
    .introduction {
        .introduction__right {
            border-top: 4px solid #E6E6F0;
            border-left: none;
            padding-top: 15px;
        }
    }
}