footer {
    background-color: $grey-light;
    .footer__row {
        padding: 30px 0;
        border-top: 4px solid $grey-light2;
        .footer__address-box {
            margin-bottom: 20px;
            align-items: baseline;
            .footer__address {
                @include text(16px,normal,19px,initial,$blue-dark);
            }
            .footer__map {
                @include text(12px,bold,14px,uppercase,$blue);
                &::before {
                    content: '•';
                    color: $grey;
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
        .footer__phone {
            @include text(16px,bold,19px,uppercase,$blue-dark);
            &::before {
                content: '•';
                color: $grey;
                font-size: 20px

            }
        }
        .footer__mail {
            @include text(16px,bold,19px,initial,$blue);
            &::before {
                content: '•';
                color: $grey;
                font-size: 20px;
                margin-right: 10px;
            }
        }
        .footer__copy {
            @include text(16px,normal,19px,initial,$grey);
        }
    }
}