%gradient-text {
    background:linear-gradient(190.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
%gradient-reverce {
    background:linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
%display-none {
    display: none;
}
%mb10 {
    margin-bottom: 10px;
}
%mb20 {
    margin-bottom: 20px;
}
%form-body {
    background: $grey-light;
    border-radius: 12px;
    padding: 20px;
}
%form-heading {
    @extend %gradient-reverce;
    @include text(32px,500,38px,initial,$red);
}
%form-input {
    height: $form-height;
    border-radius: 8px;
}
%form-button {
    max-width: 250px;
    border-radius: 12px;
    background-color: $blue;
    color: $white;
    padding: 12px 0;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}